    body {
        background-image:url('https://wallpaperaccess.com/full/763110.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
  background-size: cover;
    }
    
    .container {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.507);
        border-radius: 10px;
    }
    
    .margenSuperior {
        margin-top: 100px;
    }
    
    .anchoContainer {
        width: 400px;
    }
    
    .sombra {
        box-shadow: -10px 10px 15px;
    }
    
    h5 {
        font-family: Roboto;
    }